.cell {
    width: 80px;
    height: 80px;
    float: left;
    border: 1px solid black;
    line-height: 70px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.number {
    width: 50px;
}

.info{
    margin-bottom: 20px;
}

.link{
    margin: 20px;
    padding: 20px;
}
